// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

$host:'https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/';

@font-face {
  font-family: "Grotesque";
  src: url('#{$host}BrandonGrotesque-Regular.eot'),
       url('#{$host}BrandonGrotesque-Regular.ttf'),
       url('#{$host}BrandonGrotesque-Regular.woff');
  font-weight: normal;
}

@font-face {
  font-family: "Grotesque Black";
	src: url('#{$host}BrandonGrotesque-Black.eot'),
       url('#{$host}BrandonGrotesque-Black.ttf'),
       url('#{$host}BrandonGrotesque-Black.woff');
  font-weight: bold;
}

$grotesque-black:'Grotesque Black', sans-serif;
$grotesque-regular:'Grotesque', sans-serif;
$merriweather:'Merriweather', sans-serif;