<div class="header-wine-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/aK6WGqxyHFw')">
  <h1>Mes vins</h1>
</div>

<%= render 'shared/cards' %>